h1{
    colour: yellow;
    background-color: orange;
    border: 3px solid black;
    font-size:50px;
    text-align:center;
  }

p,li{
   color : red;
   font-family:"Times New Roman";
   font-size:30px;
   text-shadow:1px 1px;
 }

body{
      background-color:blue;
      border:3px solid black;
    }

h2{ color: yellow;
    background-color:green;
    border: 3px solid black;
    font-size:40px;
    text-decoration:underline;
  
  }

label{
        color : black ;
        font-family:"Times New Roman";
        font-size:30px;
        text-shadow:1px 1px;
      }